Source: debian-config-aide
Section: admin
Priority: optional
Maintainer: curtistinkers <curtistinkers@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2
Vcs-Git: https://github.com/curtistinkers/debian-config-packages.git

Package: debian-config-aide
Architecture: all
Depends: aide (>= 0.19),
 aide-common,
 systemd,
 ${misc:Depends}
Description: Configures AIDE system integrity scanner.
