[Unit]
Description=Timer to mark 1h-stale pages in /dev/%i as idle every 10 minutes
DefaultDependencies=false

[Timer]
Unit=zram-writeback-idle@%i.service
OnBootSec=10min
OnUnitInactiveSec=10min

[Install]
WantedBy=timers.target
