Source: debian-config-lowmem
Section: admin
Priority: optional
Maintainer: curtistinkers <curtistinkers@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2
Vcs-Git: https://github.com/curtistinkers/debian-config-packages.git

Package: debian-config-lowmem
Architecture: all
Depends:
 earlyoom,
 ${misc:Depends}
Description: Zram Configuration.
